[group]
min_step = 3
max_step = 6
grab_window_title = Apex Legends
screen_width = 1920
screen_height = 1080
grab_rectangle = 0
debug = 0
is_show_top_window = 0
aim_mod = 2
conf_thres = 0.5
iou_thres = 0.01
weight = APEX416S.engine
model_imgsz = 416
grab_width = 600
grab_height = 300
pid_x_p = 0.51
pid_x_i = 0.036
pid_x_d = 0.026
pid_y_p = 0.2
pid_y_i = 0.01
pid_y_d = 0.001
modifier_value = 0.8
sens = 5
ads = 1
shake_coefficient = 1.98
shake_coefficient_y = 0.95
shake_delay = 8

