[group]
_conf_thres = 0.5
_iou_thres = 0.01
_weight = APEX416.engine
_grab_width = 600
_grab_height = 300
_debug = ¿ªÆô
_is_show_top_window = ¹Ø±Õ
pid_x_p = 0.7
pid_x_i = 0.045
pid_x_d = 0.002
pid_y_p = 0.8
pid_y_i = 0
pid_y_d = 0
pid_x_min = 2
pid_x_max = 10
pid_y_min = 2
pid_y_max = 10
_model_imgsz = 416
_aim_mod=1

