[group]
min_step = 10
max_step = 6
grab_window_title =Apex Legends
screen_width = 1920
screen_height = 1080
grab_rectangle = 0
debug = 0
is_show_top_window = 1
aim_mod = 0
conf_thres = 0.3
iou_thres = 0.01
weight = APEX416SFP32.engine
model_imgsz = 416
grab_width = 416
grab_height = 416
pid_x_p = 0.3
pid_x_i = 0.03
pid_x_d = 0.01
pid_y_p = 0.3
pid_y_i = 0
pid_y_d = 0
modifier_value = 0.8
sens = 5
ads = 1
shake_coefficient = 1
shake_coefficient_y = 0
shake_delay = 6
use_fp_16 = 0

